{% extends 'base.html.twig' %}

{% block body %}
    <h1>Summary</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ summary.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ summary.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ summary.content }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('summary_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('summary_edit', { 'id': summary.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
